table{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;  
}
table tr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
table tr:first-child{
    background-color: #f5f6f9;
}
.chart2{
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
