*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  direction: rtl;
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
}
:root{
  --main-color: #28914f;
}
.container{
  width: 95% !important;
  margin: auto !important;
}
